= form_for :channel, method: :get do |channel_form|
	= channel_form.label :channel_params, "Search for a channel"
	= channel_form.text_field :channel_params, :id => "channel-search", :placeholder => "Enter a channel number"
	= channel_form.submit 'Find Channel'